<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>All Product</title>

</head>

<body style="background-color: blanchedalmond;">
    <div class="container col-md-6 mt-3 mb-3 card bg-light">
    <form action="/product/edit/{{ product._id }}" method="post">
        <h1 class="text text-danger text-center text-uppercase mt-3">Edit product</h1>
        <div class="form-group mt-3">
            <label class="h5 text text-success" for="">Product name</label>
            <input class="form-control" type="text" name="name" value={{ product.name }} required>
        </div>
        <div class="form-group mt-3">
            <label class="h5 text text-success" for="">Price</label>
            <input class="form-control" type="text" name="price" value={{ product.price }} required>
        </div>
        <div class="form-group mt-3">
            <label class="h5 text text-success" for="">Image</label><br>
            <img src="/images/{{ product.picture }}" width="250" height="200">
            <input class="form-control" type="file" name="picture" value={{ product.picture }} required>
        </div>
        <div class="form-group text-center mt-3 mb-3">
            <input class="btn btn-primary" type="submit" value="Edit" style="cursor: pointer;">
        </div>
    </form>
</div>
</body>
